@import "tailwindcss";

  .topbar-btn {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.topbar-btn:hover {
  background-color: #e5e7eb; /* same as bg-gray-200 */
  color: #1f2937;           /* same as text-gray-900 */
}
